body{
    background-color:  #F1F5F8;
}

#container {
    background-color:  white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 0 10px 2px gray;
    border-radius: 15px;
    padding: 150px;

    font-family: 'Roboto', sans-serif;
}

h1{
    color: #0A3553;
    font-size: 40px;
}

form{
    margin-bottom: 30px;
}

#grocery{
    color: #0A3553;
    font-size: 18px;
    border: 2px #0662CD solid;
    color: #64839C;
    border-radius: 5px;
    margin-right: 0;
    padding: 10px;
}

#grocery:focus{
    outline: none;
}

.delete{
    color: white;
    border: 1px white solid;
    background-color: red;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 5%;
    margin-left: 45%;
    cursor: pointer;
}

.delete:hover{
    background-color: white;
    color: red;
    border: 1px red solid;
    transition: 0.2s;
}

.edit{
    color: white;
    border: 1px white solid;
    background-color: green;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.edit:hover{
    background-color: white;
    color: green;
    border: 1px green solid;
    transition: 0.2s;
}

#submit{
    color: black;
    background-color: rgb(165,213,249);
    border: 1px white solid;
    margin-left: 0;
    font-size: 18px;
    border-radius: 5px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

#submit:hover{
    background-color: white;
    border: 1px rgb(165,213,249) solid;
    transition: 0.2s;
}

#clear{
    border: none;
    color: rgb(227,94,95);
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 5px;
}

#clear:hover{
    font-weight: bold;
    cursor: pointer;
}

ul, li{
    list-style-type: none;
    margin-bottom: 40px;
    text-align: left;
    font-size: 18px;
    color: #000C42;
}